version: "3.8"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: me2-order_app:dev
    volumes:
      - ./:/srv/app:delegated
      - ./var:/srv/app/var
    environment:
      APP_ENV: dev
      APP_DEBUG: '1'
    networks:
      - appnet

  web:
    image: nginx:alpine
    ports:
      - "8000:80"
    volumes:
      - ./:/srv/app:ro
      - ./docker/nginx/symfony.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app
    networks:
      - appnet

  db:
    image: postgres:15
    environment:
      POSTGRES_USER: symfony
      POSTGRES_PASSWORD: symfony
      POSTGRES_DB: symfony
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - appnet

volumes:
  db_data:

networks:
  appnet:
    driver: bridge

